/* everything that is reusable – buttons, navbars, cards, and so on */

@use './base';

// General
.container {
    @include base.transition(background-color);
    background: base.light(color-white);

    &.dark {
        @include base.transition(background-color);
        background: base.dark(very-dark-blue);
    }

    h1, h2, h3 {
        @include base.transition(color);
        color: base.light(very-dark-blue);
    }

    h1.dark, h2.dark, h3.dark {
        @include base.transition(color);
        color: base.dark(color-white);
    }

    p {
        @include base.transition(color);
        font-weight: base.weight(bold);
        color: base.light(dark-grayish-blue);

        &.dark {
            @include base.transition(color);
            color: base.dark(desaturated-blue);
        }
    }
}

// Header
header {
    @include base.transition(background-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: base.light(very-pale-blue);

    &.dark {
        @include base.transition(background-color);
        background: base.dark(dark-blue);
    }
}

.header__title {
    @include base.transition(border-bottom);
    border-bottom: 1px solid base.light(dark-grayish-blue);

    &.dark {
        @include base.transition(border-color);
        border-color: base.dark(desaturated-blue);
    }

    h1 {
        font-size: 1.75em;
    }

    p {
        margin: 0.35em 0 1.75em;
        font-size: 1.05em;
    }
}

.header__switcher {
    p {
        font-size: 1.05em;
    }

    .toggle__container {
        @include base.transition(background-color);
        position: relative;
        z-index: 1;
        width: 3.5em;
        height: 1.75em;
        border-radius: 40px;
        background: base.light(toggle);
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;

        &.dark {
            background: linear-gradient(to right, base.dark(toggle-left), base.dark(toggle-right));
            transition: background-color 0.4s ease-in-out, opacity 0.4s ease-in-out;
            @media (hover:hover) {
                    &:hover {
                        @include base.transition(opacity);
                        opacity: 0.75;
                    }
                }
        }

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            border-radius: 40px;
            content: '';
            background: linear-gradient(to right, base.dark(toggle-left), base.dark(toggle-right));
            transition: opacity 0.5s linear;
            opacity: 0;
        }

        @media (hover:hover) {
            &:hover::before {
                opacity: 1;
            }
        }

        .toggle {
            @include base.toggle;
            width: 1.3em;
            height: 1.3em;
            margin-right: 0.3em;
            border-radius: 40px;
            background: base.light(color-white);
            transform: translateX(0);

            &.dark {
                @include base.toggle;
                margin-right: 0.6em;
                background: base.dark(dark-blue);
                transform: translateX(-100%);
            }
        }
    }
}

// Social Cards
.social {
    margin-bottom: 1.5em;
    border-radius: 7.5px;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;

    #{&}__border {
        height: 5px;
        width: 100%;
        border-top-left-radius: 7.5px;
        border-top-right-radius: 7.5px;

        &--facebook {
            background: base.$facebook;
        }

        &--twitter {
            background: base.$twitter;
        }

        &--instagram {
            background: linear-gradient(to right, base.$instagram-left, base.$instagram-right);
        }

        &--youtube {
            background: base.$youtube;
        }
    }

    #{&}__box {
        @include base.transition(background-color);
        border-bottom-left-radius: 7.5px;
        border-bottom-right-radius: 7.5px;
        background: base.light(light-grayish-blue);

        &.dark {
            @include base.transition(background-color);
            background: base.dark(dark-desaturated-blue);

            @media (hover:hover) {
            &:hover {
                @include base.transition(background-color);
                background: base.dark(hover);
            }
        }
        }

        @media (hover:hover) {
            &:hover {
                @include base.transition(background-color);
                background: base.light(hover);
            }
        }
    }

    #{&}__handle {
        margin: 2em 0 1.25em;

        img {
            margin-right: 0.5em;
        }
    }

    h2 {
        font-size: 3.75em;
    }

    #{&}__description {
        margin-bottom: 2em;
        font-weight: base.weight(default);
        text-transform: uppercase;
        letter-spacing: 0.3em;
    }

    #{&}__updates {
        margin-bottom: 2em;

        img {
            margin-right: 0.35em;
        }

        .arrow--green {
            color: base.$lime-green;
        }

        .arrow--red {
            color: base.$bright-red;
        }
    }
}

// Overview Cards
section h2 {
    margin: 0.75em 0 1em;
    font-size: 1.75em;
    color: base.light(dark-grayish-blue);
}

.overview {
    @include base.transition(background-color);
    margin-bottom: 1em;
    border-radius: 7.5px;
    background: base.light(light-grayish-blue);
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;

    &.dark {
        @include base.transition(background-color);
        background: base.dark(dark-desaturated-blue);

        @media (hover:hover) {
            &:hover {
                @include base.transition(background-color);
                background: base.dark(hover);
            }
        }
    }

    @media (hover:hover) {
        &:hover {
            @include base.transition(background-color);
            background: base.light(hover);
        }
    }

    #{&}__title {
        margin: 1.8em 0 1.5em;

        p {
            font-size: 1.05em;
        }
    }

    #{&}__numbers {
        margin-bottom: 1.5em;

        h3 {
            font-size: 2.25em;
        }
    }

    #{&}__percentage {
        img {
            margin-right: 0.35em;
        }

        .arrow--green {
            color: base.$lime-green;
        }

        .arrow--red {
            color: base.$bright-red;
        }
    }
}

.overview--last {
        margin-bottom: 0;
    }

// Desktop version
@media screen and (min-width: 768px) {
    .header__title {
        border-bottom: none;

        h1 {
            font-size: 2.35em;
        }

        p {
            font-size: 1.25em;
        }
    }

    .header__switcher {
        p {
            margin-right: 1em;
            font-size: 1.25em;
        }

        .toggle__container {
            width: 4.25em;
            height: 2.25em;

            .toggle {
                width: 1.75em;
                height: 1.75em;

                &.dark {
                    margin-right: 0.5em;
                }
            }
        }
    }

    main {
        margin-top: 1.5em;
    }

    .social {
        p {
            font-size: 1.2em;
        }

        #{&}__handle {
            margin-top: 2.5em;
            img {
                width: 25px;
                height: 25px;
                margin-right: 0.75em;
            }
        }

        h2 {
                font-size: 4.5em;
            }

        #{&}__description {
            margin-bottom: 1.75em;
            font-size: 1.2em;
        }

        #{&}__updates {
            margin-bottom: 2em;
        }
    }

    section {
        h2 {
            margin: 1.25em 0 1.1em;
            font-size: 2em;
        }
    }

    .overview {
        #{&}__title {
            width: 80%;
            margin-top: 2.25em;
            p {
                font-size: 1.25em;
            }

            img {
                width: 25px;
                height: 25px;
            }
        }

        #{&}__numbers {
            width: 80%;

            h3 {
                font-size: 2.75em;
            }

            p {
                font-size: 1.2em;
            }
        }
    }

    .overview--last {
        margin-bottom: 1em;
    }
}