/* everything that is reusable – buttons, navbars, cards, and so on */
@use './base';

// General
.container {
    p {
        color: base.light(dark-grayish-blue);
        font-weight: base.weight(bold);
    }
}

// Header
.header__title {
    border-bottom: 1px solid base.light(dark-grayish-blue);

    h1 {
        font-size: 1.75em;
        color: base.light(very-dark-blue);
    }

    p {
        margin: 0.35em 0 1.75em;
        font-size: 1.05em;
    }
}

.header__switcher {
    p {
        font-size: 1.05em;
    }

    .toggle__container {
        width: 3.5em;
        height: 1.75em;
        border-radius: 40px;
        background: base.light(toggle);

        .toggle {
            width: 1.3em;
            height: 1.3em;
            margin-right: 0.3em;
            border-radius: 40px;
            background: base.light(color-white);
        }
    }
}

// Social Cards
.social {
    margin-bottom: 1.5em;
    border-radius: 4px;
    background: base.light(light-grayish-blue);

    &--facebook {
        border-top: 4px solid base.$facebook;
    }

    &--twitter {
        border-top: 4px solid base.$twitter;
    }

    &--instagram {
        border-top: 4px solid base.$twitter;
    }

    &--youtube {
        border-top: 4px solid base.$youTube;
    }

    #{&}__handle {
        margin: 2em 0 1.25em;

        img {
            margin-right: 0.5em;
        }
    }

    h2 {
        font-size: 3.75em;
    }

    #{&}__description {
        margin-bottom: 2em;
        font-weight: base.weight(default);
        text-transform: uppercase;
        letter-spacing: 0.3em;
    }

    #{&}__updates {
        margin-bottom: 2em;

        img {
            margin-right: 0.35em;
        }

        .arrow--green {
            color: base.$lime-green;
        }

        .arrow--red {
            color: base.$bright-red;
        }
    }
}

// Overview Cards

section h2 {
    margin: 0.75em 0 1em;
    font-size: 1.75em;
    color: base.light(dark-grayish-blue);
}

.overview {
    margin-bottom: 1em;
    border-radius: 4px;
    background: base.light(light-grayish-blue);

    #{&}__title {
        margin: 1.8em 0 1.5em;

        p {
            font-size: 1.05em;
        }
    }

    #{&}__numbers {
        margin-bottom: 1.5em;
        h3 {
            font-size: 2.25em;
        }
    }

    #{&}__percentage {
        img {
            margin-right: 0.35em;
        }

        .arrow--green {
            color: base.$lime-green;
        }

        .arrow--red {
            color: base.$bright-red;
        }
    }
}